<!--add page-->
<h2>Add your sound!</h2>
<form method='POST' action='/add'>
  File Name: <input type='text' name='file_name'>
  <br>
  File Location: <input type='text' name='file_location'>
  <br>
  Tags: <input type='text' name='tags' placeholder="tags separated by a white space">
  <br>
  Description: <input type='text' name='description'>
  <br>
  Created At: <input type='text' name='createdAt'>
  <br>
  <input type='submit'>
</form>
<br>
