<!--main layout-->
{{{body}}}
{{#if user}}
<h3>Whatsup {{user}} </h3>
<ul>
  <li> <a href='/'> Home </a></li>
  <li> <a href='/list'> Entry List </a></li>
  <li> <a href='/add'> Add an Entry </a></li>
  <li> <a href='/find'> Find an Entry </a></li>
  <li> <a href='/remove'> Remove an Entry </a></li>
  <li> <a href='/userinfo'> User Information </a></li>
  <li> <a href='/logout'> Logout </a> </li>
</ul>
{{else}}
<ul>
  <li> <a href='/'> Home </a></li>
  <li> <a href='/login'> Login </a></li>
  <li> <a href='register'> Register </a></li>
</ul>
{{/if}}
