<!--main layout-->
<h1>This is the main layout!</h1>
<ul>
  <li><a href="/list"> Entry List </a></li>
  <li><a href="/add"> Add an Entry </a></li>
  <li><a href="/find"> Find an Entry </a></li>
</ul>
{{{body}}}
<h1>Layout Footer</h1>
