<h2>Register</h2>

<form method="POST" action="/register">
		username: <input name="username" type="text">
		password: <input name="password" type="password">
		<input type="submit" value="...">
</form>

<h4> {{message}} </h4>
