<h2>Register</h2>

<form method="POST" action="/register">
		Username: <input name="username" type="text">
    <br>
		Password: <input name="password" type="password">
    <br>
		<input type="submit" value="Register">
</form>

<h4> {{message}} </h4>
